table {
  border: 1px solid #000;
}

td {
  /*background-image: url(../img/tile1.jpg);*/
  border: solid 1px black;
  height: 110px;
  width: 110px;
  text-align: center;
}

#meter {
  overflow: auto;
  width: 600px;
  margin: 0 auto 15px;
}

#meter h3 {
  float: left;
  margin: 6px 10px;
}

.barrier {
  background-color: black;
}

.wall-left {
  border-left: 5px solid black;
}

.wall-right {
  border-right: 5px solid black;
}

.wall-up {
  border-top: 5px solid black;
}

.wall-down {
  border-bottom: 5px solid black;
}

.meter-bar {
  float: left;
  background-color: green;
  height: 30px;
  width: 5px;
  margin: 5px;
}

.center-div {
  margin: 20px auto;
}

.unclickable {
  pointer-events: none;
}

.refresh {
  display: none;
}

gif {
  height: 25px;
  width: 25px;
}
